:root {
  --white-color: white;
  --off-white-color: #F6F6F6;
  --black-color: #3e3e3e;
  --grey-color: #AAAAAA;
  --other-color: #F27788;
  --text-size-0: 2vmin;
  --text-size-1: 2.5vmin;
  --text-size-2: 3.5vmin;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
header {
  width: 100vw;
  height: 100vh;
}
header li {
  display: inline;
  float: right;
  margin: 1vw;
  font-family: 'Roboto', sans-serif;
}
header a {
  position: relative;
  top: 1vh;
  text-decoration: none;
  font-size: var(--text-size-1);
  font-weight: bolder;
  color: var(--white-color);
}





/* Header Content */

.header-image {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#header-content {
  width: 80vw;
  position: absolute;
  top: 0vh;
  left: 10vw;
}
#header-content img {
  width: 100px;
}
.header-text h1 {
  position: absolute;
  top: 35vh;
  left: 35vw;
  font-size: var(--text-size-2);
  color: var(--white-color);
  font-family: 'Open Sans', sans-serif;
}
.header-text a {
  background-color: var(--other-color);
  border-radius: 5px;
  border: none;
  font-size: var(--text-size-1);
  font-weight: bold;
  padding: 1.5vh 3vw;
  font-family: 'Roboto', sans-serif;
}





/* Body Content */

#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "about about"
    "services services"
    "awards awards"
    "contact contact";
  position: relative;
  left: 15vw;
  width: 70vw;
}





/* about element */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "about-text about-image";
  grid-area: about;
  align-items: center;
}
.about-text { grid-area: about-text;
  position: relative;
  top: 5vh;
  left: 2.5vw;
  width: 35vw;
}
.about-text p {
  font-size: var(--text-size-1);
  background-color: var(--other-color);
  color: var(--white-color);
  padding: 3vw 3vh;
  font-family: 'Open Sans', sans-serif;
}
.about-text span {
  font-size: var(--text-size-2);
  font-family: 'Roboto', sans-serif;
}
.about-image img {
  grid-area: about-image;
  position: relative;
  top: -5vh;
  left: -2.5vw;
  width: 35vw;
  height: 31vh;
}





/* services element */

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "services-text services-detailed";
  grid-area: services;
  background-color: var(--off-white-color);
  align-items: center;
}
.services-text {
  grid-area: services-text;
  padding: 5vw;
}
.services-text h2 {
  color: var(--other-color);
  font-size: var(--text-size-2);
  font-family: 'Roboto', sans-serif;
}
.services-text span {
  padding-bottom: 1vw;
  border-bottom: solid 2px var(--other-color);
}
.services-text b {
  font-size: var(--text-size-1);
  color: var(--black-color);
}
.services-text p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  padding-bottom: 5vh;
  font-family: 'Open Sans', sans-serif;
}
.services-text a {
  background-color: var(--other-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
  text-decoration: none;
  font-size: var(--text-size-1);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.services-detailed {
  grid-area: services-detailed;
  padding: 5vw;
}
.services-detailed i {
  font-size: var(--text-size-2);
  color: var(--other-color);
  float: left;
  margin-right: 1vw;
}
.services-detailed h2 {
  font-size: var(--text-size-1);
  font-family: 'Roboto', sans-serif;
}
.services-detailed p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  font-family: 'Open Sans', sans-serif;
  float: left;
  margin-bottom: 1vh;
}





/* awards element */

.awards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "awards-text awards-image";
  grid-area: awards;
  align-items: center;
  margin: auto;
}
.awards-text { grid-area: awards-text;}
.awards-text h2 {
  font-size: var(--text-size-1);
  color: var(--other-color);
  font-family: 'Roboto', sans-serif;
}
.awards-text p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  width: 30vw;
  padding-bottom: 5vh;
  font-family: 'Open Sans', sans-serif;
}
.awards-text a {
  background-color: var(--other-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
  text-decoration: none;
  font-size: var(--text-size-1);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.awards-image { grid-area: awards-image;}
.awards-image img {
  width: 30vw;
  height: 40vh;
}





/* contact element */

#contact {
  display: grid;
  grid-area: contact;
  text-align: center;
  margin: auto;
  width: 40vw;
}
#contact h2 {
  color: var(--other-color);
  font-size: var(--text-size-2);
  font-family: 'Roboto', sans-serif;
}
#contact p {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--text-size-1);
  color: var(--black-color);
  width: 35vw;
  margin: auto;
}
#contact input {
  display: block;
  width: 100%;
  font-size: var(--text-size-0);
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
  margin: 1vh 0vw 1vh 0vw;
  padding-left: 5px;
  border: 1px solid var(--grey-color);
}
#contact textarea {
  display: block;
  margin: auto;
  width: 100%;
  font-size: var(--text-size-0);
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
  margin: 1vh 0vw 1vh 0vw;
  resize: none;
  padding-left: 5px;
  border: 1px solid var(--grey-color);
}
#contact button {
  float: left;
  background-color: var(--other-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  padding: 1.5vh 3vw;
  font-size: var(--text-size-1);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 1vh 0vw 1vh 0vw;
  cursor: pointer;
}
#contact i {
  margin: 1vh 0vw 1vh 0vw;
  font-size: var(--text-size-2);
  color: #4267B2;
}





/* footer content */

footer {
  height: 1vh;
  width: 100vw;
  background-color: var(--black-color);
}
