:root {
  --white-color: white;
  --off-white-color: #F6F6F6;
  --black-color: #3e3e3e;
  --grey-color: #AAAAAA;
  --other-color: #F27788;
  --text-size-0: 2vmin;
  --text-size-1: 2.5vmin;
  --text-size-2: 3.5vmin;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
header {
  width: 100vw;
  height: 100vh;
  font-family: 'Schoolbell', cursive;

}
header li {
  display: inline;
  float: right;
  margin: 1vw;
}
header a {
  position: relative;
  top: 1vh;
  text-decoration: none;
  font-size: var(--text-size-1);
  font-weight: bolder;
  color: var(--white-color);
  font-family: 'Schoolbell', cursive;
}

/* Header Content */

.header-image {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#header-content {
  width: 80vw;
  position: absolute;
  top: 0vh;
  left: 10vw;
}
.header-text h1 {
  position: absolute;
  top: 35vh;
  left: 35vw;
  font-size: var(--text-size-2);
  color: var(--white-color);
  font-family: 'Schoolbell', cursive;
}
.header-text span {
  color: var(--other-color);
}
.header-text a {
  font-family: 'Patrick Hand SC', cursive;
  background-color: var(--other-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
}
.header-text a:hover {
  border: none;
  padding: 1.5vh 3vw;
}

/* Body Content */

/* Parent element */

#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "about about"
    "services services"
    "awards awards";
  position: relative;
  left: 15vw;
  width: 70vw;
}




/* about element */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "about-text about-image";
  grid-area: about;
  position: relative;
  top: 10.5vh;
}
.about-text { grid-area: about-text;
  position: relative;
  top: 15.5vh;
  left: 5vw;
  width: 35vw;
}
.about-text p {
  font-size: var(--text-size-1);
  background-color: var(--other-color);
  color: var(--white-color);
  font-family: 'Patrick Hand SC', cursive;
  padding: 3vw 3vh;
}
.about-text span {
  font-family: 'Schoolbell', cursive;
  font-size: var(--text-size-2);
}
.about-image img { grid-area: about-image;
  width: 35vw;
  height: 31vh;
}




/* services element */

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "services-text services-detailed";
  grid-area: services;
  background-color: var(--off-white-color);
}
.services-text {
  grid-area: services-text;
  padding: 5vw;
  justify-content: center;
  align-self: center;
}
.services-text h2 {
  font-family: 'Schoolbell', cursive;
  color: var(--other-color);
  font-size: var(--text-size-2);
}
.services-text span {
  padding-bottom: 1vw;
  border-bottom: solid 2px var(--other-color);
}
.services-text b {
  font-size: var(--text-size-1);
  color: var(--black-color);
  font-family: 'Patrick Hand SC', cursive;
}
.services-text p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  padding-bottom: 5vh;
  font-family: 'Patrick Hand SC', cursive;
}
.services-text a {
  font-size: var(--text-size-0);
  background-color: var(--other-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
  text-decoration: none;
  font-family: 'Patrick Hand SC', cursive;
  font-weight: bold;
}

.services-detailed {
  grid-area: services-detailed;
  padding: 5vw;
  justify-content: center;
  align-self: center;
}
.services-detailed i {
  font-size: var(--text-size-2);
  color: var(--other-color);
  float: left;
  margin-right: 1vw;
}
.services-detailed h2 {
  font-family: 'Schoolbell', cursive;
  font-size: var(--text-size-1);
}
.services-detailed p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  font-family: 'Patrick Hand SC', cursive;
}




/* awards element */

.awards {
  position: relative;
  top: 10vh;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "awards-text awards-image";
  grid-area: awards;
}

.awards-text { grid-area: awards-text;
  position: relative;
  left: 5vw;
  justify-content: center;
  align-self: center;
}
.awards-text h2 {
  font-family: 'Schoolbell', cursive;
  font-size: var(--text-size-1);
  color: var(--other-color);
}
.awards-text p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  width: 30vw;
  padding-bottom: 5vh;
  font-family: 'Patrick Hand SC', cursive;
}
.awards-text a {
  font-size: var(--text-size-0);
  background-color: var(--other-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
  text-decoration: none;
  font-family: 'Patrick Hand SC', cursive;
  font-weight: bold;
}
.awards-image { grid-area: awards-image;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.awards-image img {
  width: 30vw;
  height: 40vh;
}




/* footer content */

footer {
  width: 100vw;
  background: var(--black-color);
}
#contact {
  color: var(--white-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "quickLinks contactUS";
  position: relative;
  left: 20vw;
  width: 60vw;
  padding: 2.5vh 0vw 2.5vh 0vw;
}
.quickLinks {
  display: grid;
  grid-area: quickLinks;
  align-items: center;
  margin: 0 auto;
}
.contactUS {
  display: grid;
  grid-area: contactUS;
  align-items: center;
  margin: 0 auto;
}
#contact li {
  list-style-type: none;
}
#contact a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--text-size-0);
  color: var(--grey-color);
  font-family: 'Patrick Hand SC', cursive;
}
#contact a:hover {
  color: var(--white-color);
}
#contact i {
  font-size: var(--text-size-2);
  color: #3b5998;
}
#contact h1 {
  font-family: 'Schoolbell', cursive;
  font-size: var(--text-size-1);
}
#contact h3 {
  display: inline-block;
  font-weight: lighter;
  font-size: var(--text-size-0);
  font-family: 'Patrick Hand SC', cursive;
}
